__pycache__
*.pyc
*.prototxt
*.deploy
.vscode/
*.npy
*.tar
span.log
byte_mlperf_inference/general_perf//tools/venv/
byte_mlperf_inference/general_perf//backends/*/venv/
byte_mlperf_inference/general_perf//model_zoo/*
!byte_mlperf_inference/general_perf//model_zoo/*.json
byte_mlperf_inference/general_perf//download/*.*
!byte_mlperf_inference/general_perf//download/README.md
byte_mlperf_inference/general_perf//datasets/open_imagenet/preprocessed/
byte_mlperf_inference/general_perf//datasets/*
!byte_mlperf_inference/general_perf//datasets/fake_dataset
!*.py
byte_mlperf_inference/general_perf//reports/*
!byte_mlperf_inference/general_perf/_inference/general_perf/reports/README
format_code.sh
init_env.sh