__pycache__
*.pyc
span.log
*.prototxt
*.deploy
byte_mlperf/datasets/open_imagenet/preprocessed/
byte_mlperf/backends/*/venv/
byte_mlperf/tools/venv/
.vscode/
*.npy
*.tar
byte_mlperf/model_zoo/*
!byte_mlperf/model_zoo/*.json
byte_mlperf/download/*.*
!byte_mlperf/download/README.md
byte_mlperf/tools/converted_models/*.*
!byte_mlperf/tools/converted_models/README.md
byte_mlperf/datasets/*
!byte_mlperf/datasets/fake_dataset
!*.py
byte_mlperf/reports/*
!byte_mlperf/reports/README
format_code.sh
init_env.sh