__pycache__
*.pyc
*.prototxt
*.deploy
.vscode/
*.npy
*.tar
span.log
byte_mlperf/tools/venv/
byte_mlperf/backends/*/venv/
byte_mlperf/model_zoo/*
!byte_mlperf/model_zoo/*.json
byte_mlperf/download/*.*
!byte_mlperf/download/README.md
byte_mlperf/datasets/open_imagenet/preprocessed/
byte_mlperf/datasets/*
!byte_mlperf/datasets/fake_dataset
!*.py
!byte_mlperf/reports/*
!byte_mlperf/reports/IPU/*.json
!byte_mlperf/reports/README
format_code.sh
init_env.sh
