onnx==1.15.0
onnxsim==0.4.36
tf2onnx==1.16.1
onnxruntime
onnxoptimizer==0.3.13
bert-tensorflow==1.0.1

pandas==2.1.1
numpy==1.23.0
matplotlib
scikit-learn
opencv-python==4.6.0.66
opencv-python-headless
tokenization==1.0.7
tokenizers==0.13.3
sentencepiece==0.1.96
typing_extensions==4.10.0

py-libnuma==1.2
