
matplotlib
scikit-learn
opencv-python-headless
transformers
tokenization
bert-tensorflow==1.0.1
torchvision==0.11.1
onnx==1.13.1
tensorflow==2.7.2
torch==1.10.0
sentencepiece==0.1.96
tf2onnx
six==1.15.0
numpy==1.23.0
protobuf==3.20.2
typing-extensions==3.7.4.3
bert-for-tf2
