tensorflow==1.15.0
protobuf==3.19.4
decorator
graphviz==0.8.4
scipy
attrs==21.2.0
pyyaml
synr==0.4
multipledispatch
pytest
matplotlib==3.3.4
pulp
scikit-learn
torchvision==0.13.1
torch==1.12.1
onnx==1.12.0
onnxconverter-common==1.12.2
onnxruntime==1.12.0
pybind11>=2.9.1
bert-tensorflow==1.0.1
tqdm
psutil
pydot
sentencepiece==0.1.96
virtualenv==16.7.9
keras2onnx
pybind11
setuptools==67.5